<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{site.banner | relative_url}}" 
          alt="Logo"
            />
        <!-- <h1>{{ site.title | default: site.github.repository_name }}</a></h1> -->

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" 
          alt="Mascot Image"
          width="150" 
            />
        {% endif %}

        <button>Book now!</button>

 
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>&copy; 2022 ouiyo</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>